**/__pycache__
*.pyc
temp/

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
app/label/[Bb]in
app/label/[Ii]nclude
app/label/[Ll]ib
app/label/[Ll]ib64
app/label/[Ll]ocal
app/label/[Ss]cripts
app/label/pyvenv.cfg
.venv
pip-selfcheck.json
